[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
python-dotenv = "*"
kaggle = "*"
mlflow = "*"
torch = "*"
torchvision = { index = "downloadpytorch"}
torchaudio = { index = "downloadpytorch"}
lightgbm = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.11"
